.env
.env.*
!.env.example
.git
.phpunit.cache
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/private/*
storage/app/public/*
public/storage
tests
vendor
